body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
  }
  
  input, button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
  }
  
  #qrImage {
    margin-top: 20px;
  }
  