<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="title">
        <img src="{{ url_for('static', filename='qr-code.png') }}" alt="Logo" id="logo">
        <h1>QR Code Generator</h1>
    </div>

    <div id="qrCodeGenerator">
        <h2>Enter URL</h2>
        <form id="qrForm">
            <input type="text" id="urlInput" placeholder="https://example.com" required />
            <button type="submit">Generate</button>
        </form>
    </div>

    <div id="qrImage"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>